# Binaries for programs and plugins
*.exe
*.exe~

# Editor files
*.sublime-workspace

# Compiled binaries
front-end/frontApp
broker-service/brokerApp
authentication-service/authApp

# Database data
project/db-data/
